.btn {
  padding: 5px 38px 7px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700;
  text-transform: lowercase;
  cursor: pointer;
  transition: .15s;

  &-primary {
    color: #fff;
    background-color: #39505c;

    &:hover {
      background-color: darken(#39505c, 5);
    }
  }
}