.heading-accent {
  position: relative;
  display: inline-block;
  padding: 11px 20px 8px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  background-color: #000;

  &::after {
    content: '';
    position: absolute;
    right: -64px;
    top: 0;
    border-left: 64px solid #000;
    border-bottom: 67px solid transparent;
  }

  @include media(mobile) {
    font-size: 30px;

    &::after {
      right: -49px;
      border-left-width: 49px;
      border-bottom-width: 49px;
    }
  }
}