.global-slide-enter-active, .global-slide-leave-active {
  position: relative;
  top: 0;
  transition: .2s;
}
.global-slide-enter {
  // top: 10px;
  transform: translateY(10px);
  opacity: 0;
}

.global-slide-leave-to {
  // top: -10px;
  transform: translateY(-10px);
  opacity: 0;
}
