.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.global-slide-enter-active, .global-slide-leave-active {
  position: relative;
  transition: .2s;
}

.global-slide-enter {
  transform: translateY(10px);
  opacity: 0;
}

.global-slide-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
